# Compiled object files
*.o
*.obj

# Executables
*.exe
*.out

# Editor-specific files
.vscode/
.idea/
*.swp

# Compiled binaries and libraries
/bin/
/lib/

# Build artifacts
build/
dist/

# Dependency folders
vendor/
